
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!--<div class="user-panel">
          <div class="pull-left image">
            <img src="<?php echo $this->resource;?>dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="<?php echo $this->resource;?>#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>-->
        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header"></li>
            <li  class="manage-site">
                <a href="/manage/site">
                    <i class="fa fa-th"></i> <span>站点管理</span> <small class="label pull-right bg-green"></small>
                </a>
            </li>
            <!--<li  class="manage-data">
              <a href="/manage/data">
                <i class="fa fa-pie-chart"></i> <span>查看数据</span> <small class="label pull-right bg-green"></small>
              </a>
            </li>-->
            <li class="treeview">
                <a href="">
                    <i class="fa fa-pie-chart"></i> <span>查看数据</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="data-user"><a href="/data/user"><i class="fa fa-circle-o"></i>用户注册</a></li>
                    <li  class="data-order"><a href="/data/order"><i class="fa fa-circle-o"></i>订单</a></li>
                    <li  class="data-balance"><a href="/data/balance"><i class="fa fa-circle-o"></i>收支</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="">
                    <i class="fa fa-inbox"></i> <span>商品管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="product-category"><a href="/product/category"><i class="fa fa-circle-o"></i>商品分类</a></li>
                    <li  class="product-lists"><a href="/product/lists"><i class="fa fa-circle-o"></i>超币商品列表</a></li>
                    <li  class="product-cash_list"><a href="/product/cash_list"><i class="fa fa-circle-o"></i>云购商品列表</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="">
                    <i class="fa fa-inbox"></i> <span>广告管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="ad-lists"><a href="/ad/lists"><i class="fa fa-circle-o"></i>广告列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-inbox"></i> <span>机构管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="agency-area"><a href="/agency/area"><i class="fa fa-circle-o"></i>省市级机构</a></li>
                    <li  class="agency-lists"><a href="/agency/lists"><i class="fa fa-circle-o"></i>机构成员</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-dashboard"></i> <span>用户管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="user-lists"><a href="/user/lists"><i class="fa fa-circle-o"></i>用户列表</a></li>
                    <li  class="user-partner_list"><a href="/user/partner_list"><i class="fa fa-circle-o"></i>合伙人列表</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-files-o"></i>
                    <span>订单管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="order-lists"><a href="/order/lists"><i class="fa fa-circle-o"></i>Pos 订单列表</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="">
                    <i class="fa fa-files-o"></i>
                    <span>提现管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="cash-lists"><a href="/cash/lists"><i class="fa fa-circle-o"></i>合伙人提现列表</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="">
                    <i class="fa fa-inbox"></i> <span>微信管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="wechat-menu"><a href="/wechat/menu"><i class="fa fa-circle-o"></i>微信菜单</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="">
                    <i class="fa fa-inbox"></i> <span>文章管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li  class="article-lists"><a href="/article/lists"><i class="fa fa-circle-o"></i>文章列表</a></li>

                </ul>
            </li>



        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
